# Django Settings
SECRET_KEY=
DEBUG=

# Database Configuration
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

# Redis Configuration
REDIS_URL=

# Alipay Configuration
ALIPAY_APP_ID=
ALIPAY_PRIVATE_KEY=
ALIPAY_PUBLIC_KEY=
ALIPAY_NOTIFY_URL=
ALIPAY_RETURN_URL=
ALIPAY_DEBUG=True

#SMTP Configuration
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USE_SSL=
EMAIL_USE_TLS=T
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=